<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAX0buxa9Fitf8Kfm9rVabi8ACFhQWwVU8</string>
	<key>GCM_SENDER_ID</key>
	<string>957694605314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.irfan.ahtapp.atomicHabitTracker</string>
	<key>PROJECT_ID</key>
	<string>habit-tracker-b94b4</string>
	<key>STORAGE_BUCKET</key>
	<string>habit-tracker-b94b4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957694605314:ios:01b0d28229836f1367cf1b</string>
</dict>
</plist>